* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    font-size: small;
}

header {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    padding: 25px 0 ;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #111; /* Fondo negro ligeramente más claro */
    color: #fff; /* Texto blanco */
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: #032336; /* Fondo más oscuro */
    padding: 15px;
    color: #f90; /* Texto naranja */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f90; /* Enlace naranja */
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000; /* Sombra de texto */
}

.card .back p {
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #000; /* Sombra de texto */
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.navbar a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar .btnLogin{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navbar .btnLogin:hover {
    background: #d82d2d;
    color: #162938;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.menu .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #f61706;
}

.menu .navbar ul {
    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 15px;
    padding: 18px;
    color: white;
    display: block;

}

.menu .navbar ul li a:hover {
    color: #f61706;
}

#menu {
    display: none;
}

.menu label {
    cursor: pointer;
    display: none;
}



@media(max-width:991px ) {
    .menu {
        padding: 20px;

    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #f61706;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    .menu .navbar ul li a:hover {
        color: #bebebe;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .menu-icono {
        width: 25px;
    }

}
